header {
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #ffc400;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
    font-family: "Permanent Marker", Arial, sans-serif;
    font-size: large;
}

.fullscreen-button {
    position: fixed;
    top: 5px;
    right: 10px;
    padding: 5px;
    background: transparent;
    font-size: x-large;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.fullscreen-button i {
    margin-right: 5px;
}

#background {
    position: fixed;
    top: -100%;
    left: -100%;
    width: 300%;
    height: 300%;
    z-index: -1;
    background-image: url('https://raw.githubusercontent.com/El0Lobo/Karen/main/Stuff%20to%20host/purple2.png');
    background-size: cover;
    background-position: center center;
}

body {
    overflow: visible; 
}

.mute-button {
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    color: white;
    font-size: 20px;
    margin-top: 13px;
    margin-left: 10px;
    z-index: 2;
}

.skip-button,
.stop-button {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    position: fixed;
    top: 0;
    cursor: pointer;
    color: white;
    font-size: 22px;
    background-color: transparent;
    border: none;
    padding: 0;
    z-index: 25;
}

.skip-button {
    left: 30px; /* Adjust the left position as needed */
}

.stop-button {
    left: 60px; /* Adjust the left position as needed */
}

.skip-button span,
.stop-button span {
    margin-left: 5px;
    z-index: 2;
}

/* Spin background in old hanna-barbara style action sequeance */
.spin {
    animation: spin 2s linear;
    /* Adjust the duration, easing, and iteration count as needed */
}

.slideshow-container {
    align-items: center; /* Vertically center the container */
    justify-content: center; /* Horizontally center the container */
    display: flex;
    height: 96vh; /* Set an appropriate height for the container */
    width: 100%;
    flex-wrap: wrap; /* Wrap overflowing items to the next line */
}

.slideshow {
    display: flex;
}

.slide {
    display: none;
}

.slide.active {
    display: flex;
}

.pagination-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.pagination {
    display: inline-block;
    margin: 0;
    padding: 10px;    
    width: 100%;
    margin-top: 20px; 
}

.pagination button {
 display: none;
}

#paginationbutton {    
    display: inline-block;
    position: relative;
    bottom: 0;
    margin: 2px;
    padding: 5px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    background-color: purple;
    border-radius: 5px;
    font-size: large;
    z-index: 11;
}
     
.slide ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* Vertically center the items */
    justify-content: center;
    position: relative;
    margin-right: 2%;
    overflow: visible;
    margin-top: 50px;
    margin-bottom: 70px;
}

.slide ul li {
    display: flex;
    padding: 10px;
    position: center;
    overflow: visible;
}

.slide ul li button {
    display: flex;
    background-color: #ffc400;
    text-emphasis-color: white;
    font-family: "Special Elite", Arial, sans-serif;
    color: black;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 10px 8px 0px;
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.3), 2px 5px 5px #040404;
    text-transform: capitalize;
    font-size: xx-large;
    cursor: pointer;
    font-weight: bolder;
}

.slide ul li button:hover {
    background-color: rgb(140, 97, 3);
}

.slide ul li button:active {
    transform: scale(1.4);
}

.arrow {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #fff;
    font-weight: bolder;
    font-size: x-large;
    cursor: pointer;
}

.arrow.left {
    left: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(480deg);
    }
}

#context-menu {
    position: fixed;
    z-index: 1;
    border-radius: 40%;
    font-family: "Special Elite", Arial, sans-serif;
    display: inline-block;
}

#context-menu button {
    border: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 100%;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #921196;
}

#toggle-style-button {
    z-index: 100;
    position: fixed;
    background: url(https://github.com/El0Lobo/Karen/raw/main/Stuff%20to%20host/nobatkaren.png) no-repeat center center;
    background-size: contain; /* Adjust this property to control how the image fits within the button */
    width: 7em; /* Set a specific width for the button */
    height: 7em; /* Set a specific height for the button */
    border: none;
    bottom: -20px;
    left: -20px;
}
    
#context-menu button:hover {
    background-color: #d7d3aa;
}

.star-icon {
    font-size: 3em; /* Adjust the font size to make the star larger */
    text-align: center;
    color:  #cab600;
    transition: color 0.4s;
    cursor: pointer;
}
 
.star-icon:hover {
    color: #000000; /* Change the color on hover */
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffc400;
    display: block;
    transition: 0.3s;
    font-family: "Permanent Marker", Arial, sans-serif;
    cursor: none;
    background: none;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

  }

/* Define the pulsate animation separately */
@keyframes pulsate {
    0% {
        transform: scale(0.6) ;
    }

    50% {
        transform: scale(1.5) ;
    }

    100% {
        transform: scale(0.6) ;
    } 
}

.batman-logo {
    position: fixed !important;
    top: 23% !important;
    left: 28% !important;
    width: 650px;
    height: 400px;
    background-image: url('https://raw.githubusercontent.com/El0Lobo/Karen/main/Stuff%20to%20host/batkaren2.png');
    background-size: cover;
    background-position: center;
    border: none;
    opacity: 0;
    z-index: -1;
}


.batman-logo.visible {
    opacity: 1 !important;
    z-index: 1000 !important;
    animation: pulsate 0.7s infinite !important;
}
