header {
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #ffc400;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
    font-family: "Permanent Marker", Arial, sans-serif;
    font-size: large;
}

.fullscreen-button {
    position: fixed;
    top: 5px;
    right: 10px;
    padding: 5px;
    background: transparent;
    font-size: x-large;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.fullscreen-button i {
    margin-right: 5px;
}

#background {
    position: fixed;
    height: 250%;
    width: 250%;
    z-index: -1;
    background-image: url('https://raw.githubusercontent.com/El0Lobo/Karen/main/Stuff%20to%20host/purple2.png');
    background-position: center;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.mute-button {
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    color: white;
    font-size: 20px;
    margin-top: 13px;
    margin-left: 10px;
}

.skip-button,
.stop-button {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    position: fixed;
    top: 0;
    cursor: pointer;
    color: white;
    font-size: 22px;
    background-color: transparent;
    border: none;
    padding: 0;
    z-index: 25;
}

.skip-button {
    left: 30px; /* Adjust the left position as needed */
}

.stop-button {
    left: 60px; /* Adjust the left position as needed */
}

.skip-button span,
.stop-button span {
    margin-left: 5px;
}

/* Spin background in old hanna-barbara style action sequeance */
.spin {
    animation: spin 2s linear;
    /* Adjust the duration, easing, and iteration count as needed */
}

.slideshow-container {
    overflow: hidden;
    align-items: center;
    position: flex;

}

.slideshow {
    display: flex;
    position: center;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
}

.slide {
    display: none;
}

.slide.active {
    display: flex;
}

.pagination-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.pagination {
    display: inline-block;
    margin: 0;
    padding: 10px;
}

.pagination button.active {
    display: inline-block;
    position: relative;
    left: 450px;
    bottom: 50px;
    margin: 5px;
    padding: 5px;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    font-size: large;
}

.pagination button {
    display: none;
    color: #484747;
    z-index: -1;
}

#paginationbutton {    
    display: fixed;
    margin: 5px;
    padding: 5px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    background-color: purple;
    border-radius: 5px;
    font-size: large;
}
     
.slide ul {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    position: center;
}

.slide ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: center;
}

.slide ul li button {
    display: flex;
    background-color: #ffc400;
    text-emphasis-color: white;
    font-family: "Special Elite", Arial, sans-serif;
    color: black;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 8px 0px;
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.3), 2px 5px 5px #040404;
    text-transform: capitalize;
    font-size: xx-large;
    cursor: pointer;
    font-weight: bolder;
}

.slide ul li button:hover {
    background-color: rgb(140, 97, 3);
}

.slide ul li button:active {
    transform: scale(1.4);
}

.arrow {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #fff;
    font-weight: bolder;
    font-size: x-large;
    cursor: pointer;
}

.arrow.left {
    left: 0;
}

.arrow.right {
    right: 0;
}

.batman-logo {
    position: absolute;
    transform:translateY(50%);
    transform:translateX(50%);
    width: 650px;
    height: 400px;
    background-image: url('https://raw.githubusercontent.com/El0Lobo/Karen/main/Stuff%20to%20host/batkaren2.png');
    background-size: cover;
    background-position: center;
    border: none;
    z-index: -1;
    opacity: 0;
  }
  
  .batman-logo.visible {
    opacity: 1;
    z-index: 35;
    animation: pulsate 0.7s infinite
  }



@keyframes pulsate {
    0% {
        transform: scale(0.6);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(0.6);
    }
}

@keyframes rotateBackground {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#context-menu {
    position: fixed;
    z-index: 1;
    border-radius: 10%;
    font-family: "Special Elite", Arial, sans-serif;
    color: #3F51B5;

}

#context-menu button {
    border: none;
    border-radius: 12%;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    transition-duration: 0.4s;
    cursor: pointer;

}

#context-menu button:hover {
    background-color: #4CAF50;
}